@import url(../css/join.css);

.login_text {
  font-size: 12px;
  margin-bottom: 7px;
}

.to_login_box {
  background: #f5f5f5;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.register_btn {
  display: block;
  width: 144px;
  height: 33px;
  background: #A0E697;
  border: .3px solid #7BB773;
  border-radius: 17px;
  font-size: 11px;
  font-weight: bold;
  color: #707070;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  box-shadow: 0 1px 3px #5B8456;
  margin-top: 0;
  margin-left: 30px;
}

input.checkbox {
  width: 20px;
}

footer {
  position: fixed;
  bottom: 0;
}