@import url("style.css");

header {
  padding-bottom: 20px;
}

h1.site_title {
  display: block;
  align-items: center;
  width: 168px;
  height: 41px;
  font-size: 17px;
  font-weight: bold;
  color: #707070;
  text-decoration: none;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 8px;
  margin-top: 23px;
  padding: 12px 0 11px 0;
} 

.select_mytool {
  background: #F8F8F8;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 42px;
}

.select_mytool h2 {
  font-weight: normal;
  margin-bottom: 9px;
}

.select_mytool p {
  font-size: 13px;
  margin-bottom: 19px;
}

.select_mytool input {
  width: 18px;
  margin-right: 6px;
}

.select_mytool table {
  margin-bottom: 22px;
}

input.calculate_btn {
    display: block;
    width: 144px;
    height: 33px;
    background: #A0E697;
    border: 1px solid #7BB773;
    border-radius: 17px;
    font-size: 11px;
    font-weight: bold;
    color: #707070;
    text-align: center;
    line-height: 33px;
    text-decoration: none;
    box-shadow: 0 1px 3px #5B8456;
    margin-left: 200px;
    margin-bottom: 60px;
}

a.to_index_btn {
  display: block;
  width: 216px;
  height: 33px;
  background: #F7E28A;
  border: 1px solid #E2CF82;
  border-radius: 17px;
  font-size: 11px;
  font-weight: bold;
  color: #707070;
  text-align: center;
  line-height: 33px;
  text-decoration: none;
  box-shadow: 0 1px 3px #D3C178;
  margin: 0 auto;
}

