@charset "UTF-8";
.btn {
  display: block;
  border-radius: 17px;
  font-weight: 600;
  color: #707070;
  text-align: center;
  text-decoration: none;
  border: none;
}

.btn_sm {
  width: 100px;
  height: 24px;
  background: #e6e4e4;
  font-size: 10px;
  line-height: 24px;
  -webkit-box-shadow: 0 1px 3px #d3d3d3;
          box-shadow: 0 1px 3px #d3d3d3;
  margin-top: 24px;
  margin-bottom: 20px;
}

.btn_md {
  width: 144px;
  height: 33px;
  font-size: 11px;
  line-height: 33px;
}

.btn_lg {
  width: 216px;
  height: 33px;
  font-size: 12px;
  line-height: 33px;
}

.btn_gr {
  background: #a0e697;
  -webkit-box-shadow: 0 1px 3px #5B8456;
          box-shadow: 0 1px 3px #5B8456;
}

.btn_bl {
  background: #97E3E6;
  -webkit-box-shadow: 0 1px 3px #568384;
          box-shadow: 0 1px 3px #568384;
  margin: 0 auto;
  margin-top: 20px;
}

.btn_yl {
  background: #F7E28A;
  -webkit-box-shadow: 0 1px 3px #D3C178;
          box-shadow: 0 1px 3px #D3C178;
  margin: 0 auto;
}

.header__title {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 168px;
  height: 41px;
  font-size: 17px;
  color: #707070;
  text-decoration: none;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 8px;
  margin-top: 24px;
  padding: 12px 2px 11px 2px;
}

.header__title img {
  margin-right: 4px;
}

.header__title h1 {
  font-weight: 600;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
  font-size: 16px;
  color: #707070;
}

.content_pd, .header, .tool_register, .login > h2, .login__form, .result {
  padding-right: 20px;
  padding-left: 20px;
}

.mb_xs {
  margin-bottom: 15px !important;
}

.mb_sm, .header, .select table, .result__inner, .result__table {
  margin-bottom: 30px !important;
}

.mb_md {
  margin-bottom: 50px !important;
}

.pb_sm, .tool_register {
  padding-bottom: 20px !important;
}

.pt_md {
  padding-top: 20px !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.title_left {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 20px;
}

.title_center {
  font-weight: normal;
  margin-bottom: 16px;
  text-align: center;
}

.form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

.form_container:last-child {
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #b4b2b2;
  font-size: 13px;
  font-weight: normal;
  background: #fff;
}

table {
  margin: 0 auto;
}

th {
  border-bottom: 1.3px solid #555;
  padding: 11px 10px;
  word-break: keep-all;
}

th:last-child {
  width: 10px;
}

td {
  padding: 10px;
  word-break: keep-all;
}

dt {
  width: 84px;
  font-size: 14px;
  text-align: right;
  margin-right: 29px;
}

select,
input {
  width: 204px;
  height: 28px;
  border: 1px solid #b4b2b2;
  border-radius: 7px;
  padding-left: 10px;
}

.error {
  font-size: 12px;
  color: #f70329;
  padding-top: 3px;
}

/* header */
.header {
  width: 100%;
}

.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* main */
/* section.tool_register */
.tool_register .user_name {
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
}

.tool_register__btn {
  margin-right: 22px;
  margin-left: auto;
}

/* section.tool_register ここまで*/
/* section.tool_list */
.tool_list {
  background: #f5f5f5;
  padding-top: 25px;
  padding-bottom: 65px;
  text-align: center;
}

.tool_list .delete_link {
  display: block;
  width: 14px;
  font-size: 16px;
  text-decoration: none;
}

/* section.tool_list ここまで*/
.login .to_register {
  background: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

.login .to_register__text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.login .to_register a {
  margin: 0 auto;
}

.login__checkbox {
  width: 18px;
}

.login__checkbox > label {
  vertical-align: middle;
}

.select {
  background: #f8f8f8;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 60px;
}

.select p {
  font-size: 13px;
  margin-bottom: 19px;
}

.select__check {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.select__btn {
  margin-right: 22px;
  margin-left: auto;
}

.select th:first-child {
  padding-right: 5px;
  padding-left: 5px;
}

.select td:first-child {
  padding-right: 5px;
  padding-left: 5px;
}

.result__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__text {
  margin-right: 15px;
}

.result__weight {
  width: 186px;
  border-bottom: 1px solid #707070;
  padding-right: 8px;
  padding-bottom: 5px;
  font-size: 26px;
  font-weight: bold;
  text-align: right;
}

.result__weight > span {
  font-size: 20px;
  font-weight: normal;
  margin-left: 30px;
}

.result__table {
  text-align: center;
}

/* footer  */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #909198;
  font-size: 11px;
  color: #fff;
  text-align: center;
  padding: 14px 0;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 400px;
  }
}
/*# sourceMappingURL=style.css.map */