body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
  font-size: 16px;
  color: $cGray;
}

.content_pd {
  padding-right: 20px;
  padding-left: 20px;
}
.mb_xs {
  margin-bottom: 15px !important;
}
.mb_sm {
  margin-bottom: 30px !important;
}
.mb_md {
  margin-bottom: 50px !important;
}
.pb_sm {
  padding-bottom: 20px !important;
}
.pt_md {
  padding-top: 20px !important;
}

.flex {
  display: flex;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.title_left {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 20px;
}
.title_center {
  font-weight: normal;
  margin-bottom: 16px;
  text-align: center;
}
.form_container {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 20px;
  }
}

table,
th,
td {
  border: 1px solid #b4b2b2;
  font-size: 13px;
  font-weight: normal;
  background: #fff;
}

table {
  margin: 0 auto;
}

th {
  border-bottom: 1.3px solid #555;
  padding: 11px 10px;
  word-break: keep-all;

  &:last-child {
    width: 10px;
  }
}

td {
  // min-width: 61px;
  padding: 10px;
  word-break: keep-all;
}

dt {
  width: 84px;
  font-size: 14px;
  text-align: right;
  margin-right: 29px;
}
select,
input {
  width: 204px;
  height: 28px;
  border: 1px solid #b4b2b2;
  border-radius: 7px;
  padding-left: 10px;
}
.error {
  font-size: 12px;
  color: #f70329;
  padding-top: 3px;
}

/* header */
.header {
  width: 100%;
  @extend .content_pd;
  @extend .mb_sm;
  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/* main */
/* section.tool_register */
.tool_register {
  @extend .content_pd;
  @extend .pb_sm;
  & .user_name {
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
  }

  &__btn {
    margin-right: 22px;
    margin-left: auto;
  }
}
/* section.tool_register ここまで*/

/* section.tool_list */
.tool_list {
  background: $cBgGray;
  padding-top: 25px;
  padding-bottom: 65px;
  text-align: center;

  & .delete_link {
    display: block;
    width: 14px;
    font-size: 16px;
    text-decoration: none;
  }
}
/* section.tool_list ここまで*/

// login.php
.login {
  & > h2 {
    @extend .content_pd;
  }
  & .to_register {
    background: $cBgGray;
    padding: 20px;
    margin-bottom: 20px;

    &__text {
      font-size: 14px;
      text-align: center;
      margin-bottom: 15px;
    }
    & a {
      margin: 0 auto;
    }
  }

  &__form {
    @extend .content_pd;
  }

  &__checkbox {
    width: 18px;

    & > label {
      vertical-align: middle;
    }
  }
}

// select.php
.select {
  background: #f8f8f8;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 60px;

  & p {
    font-size: 13px;
    margin-bottom: 19px;
  }

  &__check {
    width: 15px;
    height: 15px;
    margin-right: 6px;
  }

  &__btn {
    margin-right: 22px;
    margin-left: auto;
  }
  & table {
    @extend .mb_sm;
  }
  & th:first-child {
    padding-right: 5px;
    padding-left: 5px;
  }
  & td:first-child {
    padding-right: 5px;
    padding-left: 5px;
  }
}

/* footer  */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #909198;
  font-size: 11px;
  color: #fff;
  text-align: center;
  padding: 14px 0;
}
